

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        {{#if error}}
            <div class="alert alert-danger">{{error.message}}</div>
        {{/if}}
        <h3 style="text-align: center;">Adicionar Empresa</h3>
        <form class="form-login" id="form1" method="post" action="/site/company/">
            <input type="text" name="name" class="form-control input-sm" placeholder="Nome"/>
            <input type="text" name="address" class="form-control input-sm" placeholder="Endereço"/>

            <input class="typeahead form-control">
            <label>Métodos de pagamento de crédito</label>
            {{#each payaments.credit}}
                <input type="checkbox" class="form-check-input" name="payamentMethos" value="{{_id}}"> {{name}}<br>
            {{/each}}
            <label>Métodos de pagamento de débito</label>
            {{#each payaments.debit}}
                <input type="checkbox" class="form-check-input" name="payamentMethos" value="{{_id}}"> {{name}}<br>
            {{/each}}
            <input type="text" name="phoneNumber" class="form-control input-sm" placeholder="Telefone"/>
            <div class="form-group">
                <label for="selectCategory">Selecione a categoria</label>
                <select class="form-control" id="selectCategory" name="category">
                    <option value="FOOD">Comida</option>
                    <option value="MUSIC">Música</option>
                    <option value="PARTY">Festa</option>
                    <option value="SPORTS">Esportes</option>
                    <option value="MOVIES">Filmes</option>
                    <option values="OTHERS">Outros</option>
                </select>
            </div>
            <button type="submit" class="form-control btn btn-primary btn-md">Registrar <i
                    class="fa fa-sign-in"></i></button>
        </form>
    </div>
</div>

<style>
    .alert {
        margin: 12pt;
        margin-left: 22pt;
    }

    .form-control {
        margin: 6pt;
    }
    .tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
    .tt-hint {
        width: 396px;
        height: 30px;
        padding: 8px 12px;
        font-size: 24px;
        line-height: 30px;
        border: 2px solid #ccc;
        border-radius: 8px;
        outline: none;
    }

    .tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999;
    }

    .tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
        width: 422px;
        margin-top: 12px;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 18px;
        line-height: 24px;
    }

    .tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
        color: #fff;
        background-color: #0097cf;

    }

    .tt-suggestion p {
        margin: 0;
    }
</style>

<script>
    $(document).ready(function () {
        var movies = new Bloodhound({
            datumTokenizer: function (datum) {
                return Bloodhound.tokenizers.whitespace(datum.value);
            },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/city?q=%QUERY',
                wildcard: '%QUERY',
                filter: function (cities) {
                    // Map the remote source JSON array to a JavaScript object array
                    return $.map(cities, function (city) {
                        return {
                            id: city._id,
                            value: city.nome
                        };
                    });
                }
            }
        });
        movies.initialize();

// Instantiate the Typeahead UI
        $('.typeahead').typeahead(null, {
            displayKey: 'value',
            source: movies.ttAdapter()
        }).on('typeahead:selected', function(e, data) {
            var input = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "city").val(data.id);
            $('#form1').append($(input));
        });;
    });
</script>