<% include layout_start %>

<div class="wrapper wrapper-content">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="wrapper wrapper-content animated fadeInUp" style="padding-bottom: 0;">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Local</h5>
                            <a class="btn btn-primary pull-right btn-sm" href="/site/event/new?companyId=58a88bdb14a9e43b3cf33af2">Adicionar Evento</a>
                        </div>
                        <div class="ibox-content">
                            <div class="project-list" style="font-size: 14px">
                                <h1 style="margin-bottom: 20px"><%- company.name %></h1>

                                <div class="join-vertical-text" style="margin-top: 10px">
                                    <h5 class="join-vertical-text"><%- company.address %></h5>
                                    <h5 class="join-vertical-text"><%- company.city._doc.nome %> - <%- company.city._doc.state.nome %></h5>
                                    <h5>-</h5>
                                </div>

                                <h4 style="margin-top: 30px"><%- company.description %></h4>
                                <div>
                                    <div class="slick_demo_2" style="margin-top: 20px;width: 97.5%; margin-left: 10px;">
                                        <div>
                                            <div class="ibox-content">
                                                <img alt="image" class="img-responsive" src="/p_big3.jpg">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">
                                                <img alt="image" class="img-responsive" src="/p_big1.jpg">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">
                                                <img alt="image" class="img-responsive" src="/p_big2.jpg">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">
                                                <img alt="image" class="img-responsive" src="/p_big1.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="wrapper wrapper-content animated fadeInUp" style="padding-top: 0">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Eventos Disponíveis</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive" style="max-height: 400px">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <td class="project-status border-right vou" style="text-align: center">
                                            <h2 style="display: block">Sab</h2>
                                            <h3 style="display: block">18</h3>
                                            <h4 style="display: block">Feb</h4>
                                        </td>
                                        <td class="project-title" style="max-width: 360px;">
                                            <a href="events_detail.html">Wesley Safadão</a>
                                            <br>
                                            <small>Conheça a história do cara que saiu da universal e virou
                                                programador
                                            </small>
                                            <div style="display: flex; margin-top: 10px">
                                                <h4><i class="fa fa-map-marker"></i> Universidade Federal de Campina
                                                    Grande </h4>
                                                <h4 style="margin-left: 10px"><i class="fa fa-clock-o"></i> 18:45h </h4>
                                            </div>
                                        </td>
                                        <td class="project-completion">
                                            <small style="font-size: 100%;">Total arrecadado: 45%</small>
                                            <div class="progress progress-mini" style="height: 30px;">
                                                <div style="height: 29px;width: 45%;" class="progress-bar"></div>
                                            </div>
                                        </td>
                                        <td class="project-actions" style="">
                                            <span style="font-size: 24px;">R$ 85000.00</span><br>
                                            <span style="font-size: initial;"><i class="fa fa-users"
                                                                                 style="margin-right: 10px;">

                                                    </i>4000/10000</span>
                                        </td>
                                        <td style="text-align: right">
                                            <button href='events_detail.html' class="btn btn-white btn-lg">Ver mais
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status border-right nao-vou" style="text-align: center">
                                            <h2 style="display: block">Sab</h2>
                                            <h3 style="display: block">24</h3>
                                            <h4 style="display: block">Abril</h4>
                                        </td>
                                        <td class="project-title" style="max-width: 360px;">
                                            <a href="events_detail.html">Jantar dos namorados</a>
                                            <br>
                                            <small>Venha conhecer o amor da sua vida</small>
                                            <div style="display: flex; margin-top: 10px">
                                                <h4><i class="fa fa-map-marker"></i> Forno de Pizza </h4>
                                                <h4 style="margin-left: 10px"><i class="fa fa-clock-o"></i> 21:00h </h4>
                                            </div>
                                        </td>
                                        <td class="project-completion">
                                            <small style="font-size: 100%;">Total arrecadado: 50%</small>
                                            <div class="progress progress-mini" style="height: 30px;">
                                                <div style="height: 29px;width: 65%;" class="progress-bar-blue"></div>
                                            </div>
                                        </td>
                                        <td class="project-actions" style="">
                                            <span style="font-size: 24px;">R$ 20.00</span><br>
                                            <span style="font-size: initial;"><i class="fa fa-users"
                                                                                 style="margin-right: 10px;">

                                                    </i>1/2</span>
                                        </td>
                                        <td style="text-align: right">
                                            <button href='events_detail.html' class="btn btn-white btn-lg">Ver mais
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="project-status border-right vou" style="text-align: center">
                                            <h2 style="display: block">Sab</h2>
                                            <h3 style="display: block">18</h3>
                                            <h4 style="display: block">Feb</h4>
                                        </td>
                                        <td class="project-title" style="max-width: 360px;">
                                            <a href="events_detail.html">TECH Experience</a>
                                            <br>
                                            <small>Venha participar do 1º Hackathon</small>
                                            <div style="display: flex; margin-top: 10px">
                                                <h4><i class="fa fa-map-marker"></i> Conductor </h4>
                                                <h4 style="margin-left: 10px"><i class="fa fa-clock-o"></i> 08:00h </h4>
                                            </div>
                                        </td>
                                        <td class="project-completion">
                                            <small style="font-size: 100%;">Total arrecadado: 75%</small>
                                            <div class="progress progress-mini" style="height: 30px;">
                                                <div style="height: 29px;width: 75%;" class="progress-bar"></div>
                                            </div>
                                        </td>
                                        <td class="project-actions" style="">
                                            <span style="font-size: 24px;">R$ 500.00</span><br>
                                            <span style="font-size: initial;"><i class="fa fa-users"
                                                                                 style="margin-right: 10px;">

                                                    </i>45/80</span>
                                        </td>
                                        <td style="text-align: right">
                                            <button href="events_detail.html" class="btn btn-white btn-lg">Ver mais
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status border-right vou" style="text-align: center">
                                            <h2 style="display: block">Sab</h2>
                                            <h3 style="display: block">24</h3>
                                            <h4 style="display: block">Abril</h4>
                                        </td>
                                        <td class="project-title" style="max-width: 360px;">
                                            <a href="events_detail.html">Vamos para a vila aquática</a>
                                            <br>
                                            <small>Evento dos estudantes de ciência da computação - UFCG em parceira com
                                                o IFPB
                                            </small>
                                            <div style="display: flex; margin-top: 10px">
                                                <h4><i class="fa fa-map-marker"></i> Clube dos caçadores </h4>
                                                <h4 style="margin-left: 10px"><i class="fa fa-clock-o"></i> 18:45h </h4>
                                            </div>
                                        </td>
                                        <td class="project-completion">
                                            <small style="font-size: 100%;">Total arrecadado: 65%</small>
                                            <div class="progress progress-mini" style="height: 30px;">
                                                <div style="height: 29px;width: 65%;" class="progress-bar"></div>
                                            </div>
                                        </td>
                                        <td class="project-actions" style="">
                                            <span style="font-size: 24px;">R$ 400.00</span><br>
                                            <span style="font-size: initial;"><i class="fa fa-users"
                                                                                 style="margin-right: 10px;">

                                                    </i>40/1000</span>
                                        </td>
                                        <td style="text-align: right">
                                            <button href="events_detail.html" class="btn btn-white btn-lg">Ver mais
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="project-status border-right vou" style="text-align: center">
                                            <h2 style="display: block">Sab</h2>
                                            <h3 style="display: block">18</h3>
                                            <h4 style="display: block">Feb</h4>
                                        </td>
                                        <td class="project-title" style="max-width: 360px;">
                                            <a href="events_detail.html">TECH Experience</a>
                                            <br>
                                            <small>Venha participar do 1º Hackathon</small>
                                            <div style="display: flex; margin-top: 10px">
                                                <h4><i class="fa fa-map-marker"></i> Conductor </h4>
                                                <h4 style="margin-left: 10px"><i class="fa fa-clock-o"></i> 08:00h </h4>
                                            </div>
                                        </td>
                                        <td class="project-completion">
                                            <small style="font-size: 100%;">Total arrecadado: 65%</small>
                                            <div class="progress progress-mini" style="height: 30px;">
                                                <div style="height: 29px;width: 65%;" class="progress-bar"></div>
                                            </div>
                                        </td>
                                        <td class="project-actions" style="">
                                            <span style="font-size: 24px;">R$ 400.00</span><br>
                                            <span style="font-size: initial;"><i class="fa fa-users"
                                                                                 style="margin-right: 10px;">

                                                    </i>40/1000</span>
                                        </td>
                                        <td style="text-align: right">
                                            <button href="events_detail.html" class="btn btn-white btn-lg">Ver mais
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status border-right vou" style="text-align: center">
                                            <h2 style="display: block">Sab</h2>
                                            <h3 style="display: block">24</h3>
                                            <h4 style="display: block">Abril</h4>
                                        </td>
                                        <td class="project-title" style="max-width: 360px;">
                                            <a href="events_detail.html">Vamos para a vila aquática</a>
                                            <br>
                                            <small>Evento dos estudantes de ciência da computação - UFCG em parceira com
                                                o IFPB
                                            </small>
                                            <div style="display: flex; margin-top: 10px">
                                                <h4><i class="fa fa-map-marker"></i> Clube dos caçadores </h4>
                                                <h4 style="margin-left: 10px"><i class="fa fa-clock-o"></i> 18:45h </h4>
                                            </div>
                                        </td>
                                        <td class="project-completion">
                                            <small style="font-size: 100%;">Total arrecadado: 65%</small>
                                            <div class="progress progress-mini" style="height: 30px;">
                                                <div style="height: 29px;width: 65%;" class="progress-bar"></div>
                                            </div>
                                        </td>
                                        <td class="project-actions" style="">
                                            <span style="font-size: 24px;">R$ 400.00</span><br>
                                            <span style="font-size: initial;"><i class="fa fa-users"
                                                                                 style="margin-right: 10px;">

                                                    </i>40/1000</span>
                                        </td>
                                        <td style="text-align: right">
                                            <button href="events_detail.html" class="btn btn-white btn-lg">Ver mais
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status border-right vou" style="text-align: center">
                                            <h2 style="display: block">Sab</h2>
                                            <h3 style="display: block">18</h3>
                                            <h4 style="display: block">Feb</h4>
                                        </td>
                                        <td class="project-title" style="max-width: 360px;">
                                            <a href="events_detail.html">TECH Experience</a>
                                            <br>
                                            <small>Venha participar do 1º Hackathon</small>
                                            <div style="display: flex; margin-top: 10px">
                                                <h4><i class="fa fa-map-marker"></i> Conductor </h4>
                                                <h4 style="margin-left: 10px"><i class="fa fa-clock-o"></i> 08:00h </h4>
                                            </div>
                                        </td>
                                        <td class="project-completion">
                                            <small style="font-size: 100%;">Total arrecadado: 65%</small>
                                            <div class="progress progress-mini" style="height: 30px;">
                                                <div style="height: 29px;width: 65%;" class="progress-bar"></div>
                                            </div>
                                        </td>
                                        <td class="project-actions" style="">
                                            <span style="font-size: 24px;">R$ 400.00</span><br>
                                            <span style="font-size: initial;"><i class="fa fa-users"
                                                                                 style="margin-right: 10px;">

                                                    </i>40/1000</span>
                                        </td>
                                        <td style="text-align: right">
                                            <button href="events_detail.html" class="btn btn-white btn-lg">Ver mais
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status border-right vou" style="text-align: center">
                                            <h2 style="display: block">Sab</h2>
                                            <h3 style="display: block">24</h3>
                                            <h4 style="display: block">Abril</h4>
                                        </td>
                                        <td class="project-title" style="max-width: 360px;">
                                            <a href="events_detail.html">Vamos para a vila aquática</a>
                                            <br>
                                            <small>Evento dos estudantes de ciência da computação - UFCG em parceira com
                                                o IFPB
                                            </small>
                                            <div style="display: flex; margin-top: 10px">
                                                <h4><i class="fa fa-map-marker"></i> Clube dos caçadores </h4>
                                                <h4 style="margin-left: 10px"><i class="fa fa-clock-o"></i> 18:45h </h4>
                                            </div>
                                        </td>
                                        <td class="project-completion">
                                            <small style="font-size: 100%;">Total arrecadado: 65%</small>
                                            <div class="progress progress-mini" style="height: 30px;">
                                                <div style="height: 29px;width: 65%;" class="progress-bar"></div>
                                            </div>
                                        </td>
                                        <td class="project-actions" style="">
                                            <span style="font-size: 24px;">R$ 400.00</span><br>
                                            <span style="font-size: initial;"><i class="fa fa-users"
                                                                                 style="margin-right: 10px;">

                                                    </i>40/1000</span>
                                        </td>
                                        <td style="text-align: right">
                                            <button href="events_detail.html" class="btn btn-white btn-lg">Ver mais
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {


        $('.slick_demo_2').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            centerMode: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });
</script>

<% include layout_end %>