<% include layout_start %>

<div class="wrapper wrapper-content">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="wrapper wrapper-content animated fadeInUp" style="padding-bottom: 0;">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Local</h5>
                            <a class="btn btn-primary pull-right btn-sm" href="/site/event/new?companyId=<%= company._id %>">Adicionar Evento</a>
                        </div>
                        <div class="ibox-content">
                            <div class="project-list" style="font-size: 14px">
                                <h1 style="margin-bottom: 20px"><%- company.name %></h1>

                                <div class="join-vertical-text" style="margin-top: 10px">
                                    <h5 class="join-vertical-text"><%- company.address %></h5>
                                    <h5 class="join-vertical-text"><%- company.city._doc.nome %> - <%- company.city._doc.state.nome %></h5>
                                    <h5>-</h5>
                                </div>

                                <h4 style="margin-top: 30px"><%- company.description %></h4>
                                <div>
                                    <div class="slick_demo_2" style="margin-top: 20px;width: 97.5%; margin-left: 10px;">
                                        <div>
                                            <div class="ibox-content">
                                                <img alt="image" class="img-responsive" src="/p_big3.jpg">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">
                                                <img alt="image" class="img-responsive" src="/p_big1.jpg">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">
                                                <img alt="image" class="img-responsive" src="/p_big2.jpg">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="ibox-content">
                                                <img alt="image" class="img-responsive" src="/p_big1.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="wrapper wrapper-content animated fadeInUp" style="padding-top: 0">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Eventos Disponíveis</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive" style="max-height: 400px">
                                <% var parties = company.parties %>
                                <% include event_table %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {


        $('.slick_demo_2').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            centerMode: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });
</script>

<% include layout_end %>